{% load static %}

<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-6 d-flex">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Nidhaan Design</h2>
                    {% if contact_us %} {% for contact_us in contact_us|slice:":1" %} {% if contact_us.footer_details %}
                    <p>{{ contact_us.footer_details }}</p>
                    {% endif %}
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        {% if contact_us.twitter %}
                        <li class="ftco-animate"><a href="{{ contact_us.twitter }}"><span class="icon-linkedin"></span></a></li>
                        {% endif %} {% if contact_us.facebook_link %}
                        <li class="ftco-animate"><a href="{{ contact_us.facebook_link }}"><span class="icon-facebook"></span></a></li>
                        {% endif %} {% if contact_us.insta_link %}
                        <li class="ftco-animate"><a href="{{ contact_us.insta_link }}"><span class="icon-instagram"></span></a></li>
                        {% endif %}
                    </ul>
                    {% endfor %} {% endif %}
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Usefull Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'portfolio' %}">Work</a></li>
                        <li><a href="{% url 'blogs' %}">Project Desgin</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Contact Details</h2>
                    <div class="block-23 mb-3">
                        <ul>{% if contact_us %} {% for contact_us in contact_us|slice:":1" %} {% if contact_us.address %}
                            <li><span class="icon icon-map-marker"></span><span class="text">{{ contact_us.address }}</span></li>
                            {% endif %} {% if contact_us.phone1 %}
                            <li><a href="tel:{{contact_us.whatsapp_link }}"><span class="icon icon-phone"></span><span class="text">{{ contact_us.phone1 }}</span></a></li>
                            {% endif %} {% if contact_us.email %}
                            <li><a href="mailto:{{ contact_us.email_link }}"><span class="icon icon-envelope"></span><span class="text">{{ contact_us.email }}</span></a></li>
                            {% endif %} {% endfor %} {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> Nidhan studios. All rights reserved / <a href="http://nishproject.space" target="_blank">Developed by Nishant Jagtap</a>
                </p>
            </div>
        </div>
    </div>
</footer>